mixin about__skills-item(img, title, text)
	.about__skills-item
		.about__skills-img 
			img(src="img/icons/about/"+img, alt=title)
		div
			.about__skills-title.title.title_fz14 #{title}
			.about__skills-text.title.title_fz12 #{text}

mixin resume__item(img, title, location, body)
	.resume__item
		.resume__item-head 
			.resume__item-icon 
				img(src="img/icons/resume/"+ img+".svg", alt=img)
			h4.resume__item-title.title.title_fz14 #{title}
			.resume__item-location #{location} 
		p.resume__item-body #{body}

mixin skills__item(img, title, body)
	.skills__item
		.skills__item-img 
			img(src="img/skills/"+img+".svg", alt="img")
		h3.skills__item-title.title.title_fz14 #{title}
		p.skills__body #{body}

mixin skills__ratings-item(title, counter)
	.skills__ratings-item
		.skills__ratings-title #{title}
		.skills__ratings-counter #{counter}
		.skills__ratings-line
			span